{% extends "base.html" %}
{% block content %}
  <h1>List of not completed tasks:</h1>
  {% include "includes/task_state_buttons.html" %}
  {% if not_completed_tasks %}
    {% for not_completed_task in not_completed_tasks %}
      <p>
        <a href="{% url 'task_manager:task-detail' pk=not_completed_task.pk %}">{{ not_completed_task.pk }}</a>
          {{ not_completed_task }}
      </p>
    {% endfor %}
    {% else %}
      <h4>There is no not completed tasks! </h4>
  {% endif %}
{% endblock %}
