{% extends "base.html" %}
{% block content %}
  <h1>Task list
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">Create</a>
  </h1>
  <h2>List of all tasks:</h2>
  {% include "includes/task_state_buttons.html" %}
  {% if task_list %}
    {% for task in task_list %}
      <p>
        <a href="{% url 'task_manager:task-detail' pk=task.pk %}">{{ task.pk }}</a>
        {{ task }}
      </p>
    {% endfor %}
    {% else %}
      <p>There are no tasks in the team.</p>
  {% endif %}
{% endblock %}
