{% extends "base.html" %}
{% block content %}
  <h4 class="card-title">List of not completed tasks:</h4>
  {% include "includes/task_state_buttons.html" %}
  {% if not_completed_tasks %}
    <ul style="font-size: 17px"  class="list-group list-group-flush list-group-item-action">
    {% for not_completed_task in not_completed_tasks %}
      <li class="list-group-item list-group-item-action">
        <a href="{% url 'task_manager:task-detail' pk=not_completed_task.pk %}">{{ not_completed_task.pk }}.</a>
          {{ not_completed_task }}
      </li>
    {% endfor %}
    {% else %}
      <h4>There is no not completed tasks! </h4>
  {% endif %}
{% endblock %}
