{% extends "base.html" %}
{% block content %}
  <h1>List of all tasks:
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">Create</a>
  </h1>
  {% include "includes/task_state_buttons.html" %}
  {% if task_list %}
    <ul class="list-group list-group-flush list-group-item-action">
    {% for task in task_list %}
      <li class="list-group-item list-group-item-action">
        <a href="{% url 'task_manager:task-detail' pk=task.pk %}">{{ task.pk }}.</a>
        {{ task }}
      </li>
    {% endfor %}
    {% else %}
      <p>There are no tasks in the team.</p>
    </ul>
  {% endif %}
{% endblock %}
